.add-form {
  display: flex;
  align-content: center;
}

.game-form {
  border: 2px solid #842C36;
  border-radius: 5px;
  padding: 1vh;
  box-shadow: rgba(188, 80, 97, 0.4) 5px 5px, rgba(188, 80, 97, 0.3) 10px 10px, rgba(188, 80, 97, 0.2) 15px 15px, rgba(188, 80, 97, 0.1) 20px 20px, rgba(188, 80, 97, 0.05) 25px 25px;
}
 .page-subtitle {
  text-align: center;
  padding-top: 2vh;
  font-family: 'Inconsolata',monospace;
  font-size: 2rem;
  font-weight: bolder;
  color: #842C36;
 }

 .form-label {
  font-family: 'Inconsolata', monospace;
  font-size: 1.1rem;
  font-weight: bolder;
  color: #842C36;
 }
