.add-form {
  display: flex;
  align-content: center;
}

.game-form {
  border: 2px solid #842C36;
  border-radius: 5px;
  padding: 1vh;
}
 .page-subtitle {
  text-align: center;
  padding-top: 2vh;
  font-family: 'Inconsolata',monospace;
  font-size: 2rem;
  font-weight: bolder;
  color: #842C36;
 }
