
<%= simple_form_for(@user) do |f| %>
  <div class="row justify-content-center">
    <div class="col-6 game-form">
      <div class="row">
        <div class="col-12 mb-3">
          <%= f.input :username %>
        </div>
        <div class="col-12 mb-3">
          <%= f.input :avatar, as: :file %>
        </div>
        <div class="col-12">
          <%= f.submit class:'btn btn-flat booking' %>
        </div>
      </div>
    </div>
    <!-- "Provided by" currently included for devise to accept new games. -->
  </div>
<% end %>
