<div class="banner" style="background-image: linear-gradient(rgba(50,50,50, 0.2),rgba(50,50,50, 0.2)), url(https://images.unsplash.com/photo-1577583113753-ca7e95d1bdc6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80)">
  <div class="container homepage">
    <div class="banner-card">
      <h1>Switch and Share </h1>
      <p>Rent and borrow games from home!</p>
      <a class="btn btn-flat home-button" href="#">Browse Games List</a>
    </div>
  </div>
</div>
