.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), image-url("switch_console");
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding-top: 20px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 15vh;
}

.card-category .card-infos {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  flex-direction: column;
  padding: 50px 16px 0px 16px;
  height: 100%;
  a {
    width: 100%;
    text-align: center;
  }
}

.sub-infos {
  width: 100%;
  display: flex;
  justify-content: space-between;
  p {
    font-family: 'Titillium Web', sans-serif;
    color: wheat;
    font-size: 15px;
  }
}

#card-sub-infos {
  position: fixed;
  bottom: 0;
}

.game-title {
  text-decoration: none;
  text-align: center;
  color: #44c3b6;
  text-shadow: 1px 1px 0px wheat;
  font-size: 25px;
  font-family: 'Silkscreen', cursive;

  &:hover {
    color: #60e0d4;
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
  #website-name {
    font-size: 0.9rem;
  }
  .nav-link {
    font-size: 0.4rem;
  }
  .footer {
    font-size: 0.8rem;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
  #website-name {
    font-size: 1.2rem;
  }
  .nav-link {
    font-size: 0.5rem;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
  #website-name {
    font-size: 1.6rem;
  }
  .nav-link {
    font-size: 0.6rem;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  #website-name {
    font-size: 2rem;
  }
  .nav-link {
    font-size: 0.7rem;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  #website-name {
    font-size: 2rem;
  }
  .nav-link {
    font-size: 0.9rem;
  }
}
