.background-game-pic, .background-booking-pic {
  width: 100%;
  overflow:hidden;
  border-radius: 10px;
  // filter: grayscale(100%);
  filter: saturate(0.5);
  box-shadow: 0px 0px 17px rgba(80,199, 187, 0.8);
}

.game-pic, .booking-pic {
  border-radius: 10px;
  box-shadow: 0px 0px 82px white;
  position: absolute;
  left: 10px;
  height: 58%;
  top: 0;
  transform: translate(5%, 41%);
}

.my-games-col,.my-bookings-col{
  background-color: rgb(248, 228, 200);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0px 2px 17px rgba(80,199, 187, 0.2);
  padding: 38px;
}

.dash-col {
  width: 47%;
}

@media(max-width: 728px) {
  .dash-col {
    width: 90%;
    margin-bottom: 20px;
  }

  .booking-info {
    font-size:90%;
  }
}

@media(max-width: 820px) {
  .status-text {
    font-size: 75%;
  }
  .booking-info {
    font-size:90%;
  }
}

@media(max-width: 900px) {
  .booking-info {
    font-size:83%;
  }
}

@media(max-width: 375px) {
  .status-text {
    font-size: 72%;
  }
  .booking-info {
    font-size:64%;
  }
}

@media(max-width: 414px) {
  .status-text {
    font-size: 72%;
  }
  .booking-info {
    font-size:64%;
  }
}

@media(max-width: 360px) {
  .status-text {
    font-size: 72%;
  }
  .booking-info {
    font-size:64%;
  }
}

.dashboard-container {
  max-width:100%;
  padding:40px;
}

.dashboard-title {
  font-size: 2.5rem;
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
  color: #842C36;
  text-shadow: 1px 1px 0px wheat;
  margin-bottom: 2rem;
}

.my-game-card, .my-booking-card {
  position:relative;
  width: 200%;
  padding-bottom: 20px;
}

.my-game-card-image, .my-booking-card-image {
  position: absolute;
  top: 50px;
  width: 72%;
  left: 10px;
}

.booking-info {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(246, 218, 174, .9);
  border-radius: 0px 10px 10px 0px;
  padding: 3px 8px;
  overflow: hidden;
  font-family: 'Silkscreen', cursive;
  margin-top: 7px;
}

.status-text {
  position: absolute;
  right: 0;
  bottom: 4px;
  background-color: #842C36;
  border-radius: 10px 0px;
  padding: 3px 8px;
  font-weight: bold;
  overflow: hidden;
  color: #f9e6c9;
  font-family: 'Silkscreen', cursive;
}

.lending {
  bottom: 28px;
}

.lending-pic {
  transform: translate(5%, 30%);
}

.dashboard-title-lesser {
  font-family: 'Silkscreen', cursive;
  margin-bottom: 30px;
}
