.game-pic, .background-game-pic, .booking-pic, .background-booking-pic {
  width: 200%;
  overflow:hidden;
  border-radius: 10px;
}

.game-pic{
}

.background-game-pic {
}

.booking-pic {
}

.background-booking-pic {
}
.my-games-col,.my-bookings-col{
  background-color: rgb(248, 228, 200);
  border-radius: 12px;
  padding: 20px;
}

.dash-col {
  width: 45%;
}

.my-bookings-col {
}

.dashboard-container {
  max-width:100%;
  padding:40px;
}

.dashboard-title {

}
