.background-game-pic, .background-booking-pic {
  width: 100%;
  overflow:hidden;
  border-radius: 10px;
  filter: grayscale(100%);
}

.background-game-pic:hover, .background-booking-pic:hover {
  box-shadow: 0px 0px 17px rgba(80,199, 187, 0.8);
}

.game-pic, .booking-pic {
  width: 37%;
  overflow:hidden;
  border-radius: 10px;
  box-shadow: 0px 0px 82px rgba(255, 255, 255, 1);
}

.my-games-col,.my-bookings-col{
  background-color: rgb(248, 228, 200);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0px 2px 17px rgba(80,199, 187, 0.2);
}

.dash-col {
  width: 47%;
}

.dashboard-container {
  max-width:100%;
  padding:40px;
}

.dashboard-title {
  font-size: 2.5rem;
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
  color: #842C36;
  text-shadow: 1px 1px 0px wheat;
  margin-bottom: 2rem;
}

.my-game-card, .my-booking-card {
  position:relative;
  width: 200%;
}

.my-game-card-image, .my-booking-card-image {
  position: absolute;
  top: 13px;
  width: 72%;
  left: 10px;
}

.booking-info {
  position:absolute;
  top: 5%;
  left: 30%;
  background-color: #f9e6c9;
  font-size: 2vw;
  border-radius: 10px;
  padding: 3px 8px;
  margin: 8px 9px;
  font-weight: bold;
  overflow: hidden;
}

.status-text {
  position: absolute;
  top: 15.5vw;
  left: 23.5vw;
  background-color: #842C36;
  font-size: 2vw;
  border-radius: 10px;
  padding: 0px 8px;
  margin: 0px 0px;
  font-weight: bold;
  overflow: hidden;
  color: #f9e6c9;
}
