.navbar-lewagon {
  background: rgb(248, 228, 200);
  box-shadow: 0px 2px 17px rgba(80, 199, 187, .2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.fa-gamepad {
  color: #50C7BB;
  text-shadow: -2px 1px 0px rgba(0, 0, 0, .35);
  padding-left: 1rem;
}

.fa-gamepad:hover {
  color: #60e0d4;
}

#website-name {
  font-size: 2.5rem;
  display: flex;
  vertical-align: middle;
  text-align: center;
  font-family: "Silkscreen", cursive;
  font-weight: 400;
  color:#50C7BB;
  text-shadow: -2px 1px 0px rgba(0, 0, 0, .35);
  text-decoration: none;
}

#website-name:hover {
  color: #60e0d4;
}

.avatar {
  border: solid 3px #50C7BB;
  width: 45px;
  height: 45px;
  object-fit: cover;
}

.avatar:hover {
  border: solid 3px #60e0d4;
}

.nav-link {
  padding: 15px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  color: #0d090f;
  font-size: 1rem;
  margin: 0px 10px;
}

.btn-flat {
  border: 2px solid #50C7BB;
  padding: 5px 24px;
  border-radius: 12px;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  font-family: 'Silkscreen', cursive;
  color: #50C7BB;
}

.btn-flat:hover {
  opacity: 1;
  background-color: #50C7BB;
  color: #F8E4C8;
  border-color: #F8E4C8;
}

.main-nav-link {
  width: 30%;
}

.navbar-collapse {
  justify-content: flex-end;
  padding-right: 8px;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

input#query:focus {
  box-shadow: none;

}

.search-button {
  width: auto;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #5fe0d4;
  background-color: #F4F4F4;
  background-clip: padding-box;
  border-radius: 0px 12px 12px 0px;
  border:none;
  font-family: 'Silkscreen', cursive;
  &:active, &:focus, &:focus-visible {
    background-color: #F4F4F4;
    border:none;
  }
}

.search-button:hover {
  background-color: #F4F4F4;
  background-clip: padding-box;

}

.form-control {
  border-radius: 12px 0px 0px 12px;
  border:none;
  font-family: 'Silkscreen', cursive;
  background-color: #F4F4F4;
}

.search-bar-components {
  border-radius: 12px;
  box-shadow: -4px 4px 0px rgba(0, 0, 0, .35)
}

input.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(0, 0, 0);
  opacity: .2; /* Firefox */
}
