.navbar-lewagon {
  background: #f8e4c8;
  box-shadow: 0px 2px 17px rgba(80, 199, 187, .2);
  display: flex;
  justify-content: space-between;
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.fa-gamepad {
  color: #50C7BB;
  text-shadow: -2px 1px 0px rgba(0, 0, 0, .6);
  padding-left: 8px;
}

.fa-gamepad:hover {
  color: #60e0d4;
}

#website-name {
  vertical-align: middle;
  justify-content: center;
  font-family: "Silkscreen", cursive;
  font-weight: 400;
  color:#50C7BB;
  text-shadow: -2px 1px 0px rgba(0, 0, 0, .6);
  text-decoration: none;
}

#website-name:hover {
  color: #60e0d4;
}

.avatar {
  border: solid 2px #50C7BB;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.nav-link {
  padding: 15px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  color: #0d090f;
}

.btn-flat {
  border: 2px solid #50C7BB;
  padding: 8px 24px;
  border-radius: 50px;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  margin-right: 10px;
  font-family: 'Silkscreen', cursive;
  color: #50C7BB;
}

.btn-flat:hover {
  opacity: 1;
  background-color: #50C7BB;
  font-weight: bolder;
  color: #F8E4C8;
  border-color: #F8E4C8;
}

.main-nav-link {
  width: 30%;
}

.navbar-collapse {
  justify-content: flex-end;
  padding-right: 8px;
}
