.game-title-show{
  font-family: 'Inconsolata', monospace;
  color: #842C36;
}

.p-show{
  font-family: 'Inconsolata', monospace;
  color: #842C36;
  font-size: 18px;
}

.inline {
  display: inline
}

.game-image {
  // width: 50%;
  height: 70vh;
  // min-width: 300px;
}

.game-card {
  border-radius: 10px;
  width: 100%;
  padding: 80px 25px;
}

.game-image-column {
  padding: 0px;
  justify-content: center;
  display: flex;
  margin:0px;
  padding-left: 1vh;
}

.game-description {
  margin: 20px;
}

.desc-col {
  padding-top: 7vh;
  padding-bottom: 15vh;
}

.back, .delete {
  position: fixed;
  background-color:#EBD6B8;
  border-radius: 0px;
  padding: 0px 12px;
  box-shadow: 0px 2px 17px rgba(0, 0, 0, 0.2);
  opacity: 1;
  border: none !important;
  font-size: 35px;
  margin: 0;
}

.back{
  left: 0px;
  border-radius: 0 0 10px 0
}

.delete {
  right: 0px;
  width: auto;
  color: #d63a3a;
  border-radius: 0 0 0 10px
}

.delete:hover {
  color: #EBD6B8 !important;
  background-color: #c80000;
}

.booking {
  background-color: #9c4653;
  color: #EBD6B8;
  border-radius: 0px;
  padding: 3px 12px;
  box-shadow: 0px 2px 17px rgba(0, 0, 0, 0.05);
  opacity: 1;
  border: none !important;
  font-size: 24px;
  border-radius: 10px;
  margin: 0;
}

.booking:hover {
  background-color: #bc5061;
}
